html {
    scroll-behavior: smooth; /*rolagem suave*/
}

html,
body {
    width: 100%;
    height: 100%;
}

/*---------- NAV ------------*/
header {
	background: linear-gradient( black, gray, lightgray, white);
	padding: 2rem 0;
}

.caixa {
	position: relative;
    margin: 0 auto;
}

nav {
	position: absolute;
	top: 6rem;
    right: 0rem;
    left: 50%;
}

nav li {
	display: inline-flex;
    padding: 2rem;
}

nav a {
	text-transform: uppercase;
	color: rgb(8, 8, 44);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.logo{
    margin-left: 10rem;
}

nav a:hover {
	color: #C78C19;
	filter: brightness(1.2);
}
/*---------- CONTATO ------------*/
#contato{
	width: min(120rem, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	margin-inline: auto;
}

form label, form legend {
	display:block;
	font-size: 1.5rem;
	padding: 1rem;
}

.input-padrao {
	padding: 1rem;
	font-size: 1rem;
	width: 100%;
	margin-inline: auto;
}

.checkbox {
	margin: 1rem;
}

fieldset > select{
	font-size: 1.3rem;
	margin-left: 2rem;
	padding: 0.5rem
}

.enviar {
	padding: 1rem;
	background: #d19213;
	filter: brightness(1.2);
	color: rgb(231, 219, 219);
	font-weight: bold;
	font-size: 1.5rem;
	border: none;
	border-radius: 1rem;
	transition: 2s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

.horario-funcionamento{
	margin-top: 5rem;
}
.horario{
	margin-inline: auto;
}

table {
	margin: 2rem 0 4rem;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid rgb(8, 8, 44);
	padding: 1rem 1.5rem;
}

/*---------- RODAPÉ ------------*/
footer{
    background: linear-gradient(white, black);
    text-align: center;
    margin-top: 10rem;
    background-clip: border-box;
    padding-bottom: 2rem;
    filter: opacity(1.2);
}

.copy{
    color: whitesmoke;
}
/*----- COPYRIGHT -----*/
.social-links {
    display: flex;
    width: 20%;
    margin-inline: auto;
    justify-content: space-between;
}

.git {
	fill: #f5f5f5;
}

/*---------- RESPONSIVIDADE ------------*/

@media (max-width: 48rem) {
	/*---------- RESET ------------*/
	.caixa,
	.logo,
	nav,
	ul,
	li,
	#contato{
		width: auto;
		margin: initial;
		padding: initial;
	}
	
	#contato{
		width: min(48rem, 100%);
	}

}