html {
    scroll-behavior: smooth; /*rolagem suave*/
}

html,
body {
    width: 100%;
    height: 100%;
}

/*---------- NAV ------------*/
header {
	background: linear-gradient( black, gray, lightgray, white);
	padding: 2rem 0;
}

.caixa {
	position: relative;
    width: 100%;
}

nav {
	position: absolute;
	top: 3.6rem;
    right: 0rem;
    left: 33.37%;
}

nav li {
	display: inline;
    padding: 2rem;
}

nav a {
	text-transform: uppercase;
	color: rgb(8, 8, 44);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	filter: brightness(1.2);
}

.logo{
    margin-left: 10rem;
}
/*---------- HOME ------------*/
.nome{
    margin-left: 3rem;
}

.banner{
    width: 100%;
    height: 25rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0;
}

/*---------- SOBRE NÓS ------------*/
#sobre-nos{
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}

h2{
    text-align: center;
    margin: 2rem;
}

img + p{
    margin-top: 6rem;
}

.utensilios{
    width: 15rem;
    float: left;
    margin: 0 2rem 0;
    border-radius: 10%;
}

/*---------- BENEFÍCIOS ------------*/
#beneficios{
    margin-bottom: 0;
}
.beneficios {
    padding: 2rem;
}

.titulo-principal {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 1rem;
    clear: left;
}

ul {
    display: inline-block;
	vertical-align: top;
    margin-top: 3%;
    margin-left: 25%;
}

.itens {
    font-style: italic;
    line-height: 2rem;
}

.itens:nth-child(1){
    font-weight: bold;
}

.imagembeneficios {
	width: 25%;
    margin-inline: 4rem;
    border-radius: 5%;
    border: 1px solid gray;
    box-shadow: 2rem 2rem 10rem 0 black;
}

.video{
    width: 50%;
    margin: 5rem auto;
    margin-bottom: 0;
    display: flex;

    justify-content: center;
    border-radius: 2rem;
}

/*---------- MAPA ------------*/
#mapa{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 0;
}

.mapa{
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem 0 goldenrod;
}

/*---------- RODAPÉ ------------*/
footer{
    background: linear-gradient(white, black);
    text-align: center;
    margin-top: 10rem;
    background-clip: border-box;
    padding-bottom: 2rem;
    filter: opacity(1.2);
}

.copy{
    color: whitesmoke;
}

/*---------- RESPONSIVIDADE ------------*/

@media screen and (max-width: 480px) {
/*---------- RESET ------------*/
    .caixa,
    #banner,
    #sobre-nos,
    .titulo-principal,
    #beneficios,
    .caixa-video,
    #mapa,
    .mapa,
    #rodape{
        width: auto;
        margin: initial;
        padding: initial;
        display: initial;
    }
     /*---------- NAV ------------*/
     nav{
        position: static;
        margin-inline: auto;
        padding-inline: 3rem;
    }

    ul li{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.5rem;
    }

    .logo{
        margin-inline: center;
    }
    /*---------- HOME ------------*/
    .nome{
        text-align: center;
        margin-inline: auto;
    }

    .banner{
        height: 10rem;
    }
    /*---------- SOBRE NÓS ------------*/
    .utensilios{
        width: 10rem;
        margin: 0 1rem;
    }

    img ~ p{
        margin-top: 0;
        margin-inline: 2rem;
        line-height: 1.8rem;
        text-align: start;
        text-align: justify;
    }
    /*---------- BENEFÍCIOS ------------*/
    .titulo-principal{
        margin: 1rem 0;
    }

    #beneficios,
    .imagembeneficios{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .video{
        width: 100%;
    }
    /*---------- MAPA ------------*/
    .mapa{
        margin-top: 2rem;
        width: 100%;
    }
    /*---------- RODAPÉ ------------*/
    #rodape,
    .copy{
        text-align: center;
    }
}
